*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
 
    font-family: 'Inclusive Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Slab', serif;
}
.header{
    width:100%;
    height: fit-content;
    background-color: #F6F4EB;
    overflow: auto;
    position: fixed;
    padding-right: 20px;
    top: 0;
    left:0;
    z-index: 30;
}
.logo{
width: 50px;
height: 50px;
float:left;
margin-left:30px;
border-radius:50%;
text-align: center;
}
.list{
    list-style-type: none;
    float:right;

}
ul li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;

}
ul li a{
    text-decoration: none;
    color:#4A2511;
    font-weight: bold;
}

.welcome{
    margin-top:100px;
    text-align: center;

}
h2{
color:black;
font-size: 25px;

}
.line{
    width:40px;
    height:3px;
    background-color:#4A2511;
    margin: auto;
}
.welcome-content{
padding-top: 70px;
margin: auto;
padding-left:50px;

}
.welcome-section .w{
    text-align: center;
}

.welcome-info{
    margin-top: 20px;

}


.welcome-section:hover  .welcome-h2{
    color:#4A2511;
}
.welcome-h2{
    margin-top: 15px;
}
.welcome-section{
    text-align: center;
    border:2px solid gray;
    width:30%;
    height: 220px;
    float: left;
    margin-left: 20px;
    position: relative;

}
.welcome-section::after{
        position: absolute;
        content:"";
        width: 0;
        height: 0;
        top:0;
        left: 0;
        opacity:0;
        transition: 1s;
        
        }
        
        .welcome-section:hover::after{
        width: 100%;
        height: 100%;
        background-color:#333;
        opacity: 0.8;
        }

.welcome-section i{
color: #421c0ad6;
font-size: 35px;
padding-top: 10px;
}
.welcome-section a{
    text-decoration: none;
    color:#4A2511;
}
.welcome-content .welcome-p{
    letter-spacing: 2px;
    display:block;
}
/* Featured Section */

.Featured-container{
margin: 350px 0px;
width:100%;
height: 800px;
background-color:#e7dfda;
overflow: auto;


}
.Featured-title{
    margin-top: 50px;
}

.Featured-item{
    width: 30%;
    float: left; 
    position: relative;
}

.Featured-img img{
    background-color: #fff;
    width: 200;
    height: 250px;
    padding:0px 30px;

}
.Featured-item-content{
    width:300px ;
    margin: auto;
}
.Featured-overley a{
    color:#9c3603;
    font-size: 20px;
}
.Featured-sp1,.Featured--h3{
    color: #fff;
    font-weight: bold;
}
.Featured-overley i{
border: 2px solid #fff;
font-size: 20px;
background-color: #fff;
}

.Featured-content{
    margin: auto;  
    text-align: center;
    position:relative
}
.item1{
padding: 20px 0px;
}

.Featured-overley{
    visibility: hidden;
    margin: auto;
    line-height: 35px;
    color:black;
}

.Featured-item-content .Featured-overley{
    position: absolute;
    left: 50%;
    top:50%;
    width: 80%;
    text-align: center;
    transform: translate(-50%,-50%);
}

.Featured-title .Featured-title-line{
    display: block;
    width:62px;
    height:4px;
    margin:0px auto 90px auto;
    background-color:#4A2511;
}


.Featured-item .a{
  
    text-align: center;
    margin: auto;
   
}

.Featured-item:hover .Featured-overley{
visibility: visible;
position: absolute;


}
.Featured-item::after {
    position: absolute;
    content:"";

    width:100%;
    height: 100%;

    top:0;
    left:0;
    background-color: #333; 
    opacity: 0;
    
}

.Featured-item:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition:1s;
    background-color: #333;

    }


/* Our Team Section */
.team-container{
    margin: auto;
    width: 100%;

}
.team-img .team-overley a{
    color:blue;
    display: block;
    width: 40px;
    height: 40px;
    /* margin-left:302px ; */
    margin-left:auto ;
    font-size: 23px;
    background-color: rgb(53, 171, 240);
    color:#fff;
}
.team-overley a i{
    line-height: 40px;

}
.team-container-title{
    text-align: center;
    margin-top: -250px ;


}
 .team-container-title .team-title-line{
    width:60px;
    height:3px;
    background-color:#4A2511;
    margin: auto;
}
.team-content{
    overflow: auto;
    margin-left: 5%;  
    padding: 15px 10px;  
    width: 100%; 
}
.team-item {
    float:left;
    width: 20%;
    text-align: center;
    background-color:#d1caca;
    position: relative;


}
.ww{
margin: 5% 5% ;
padding: 15px 25px;  

}
.team-img{
    width: 90%;
    margin: auto;
    position: relative;
}
.team-img img{
    width: 100%;
}
.team-overley{
    position:absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.5);
    visibility: hidden;
    opacity: 0;
    transition: 2s;
}
.team-info-title{
    text-transform: capitalize;
    padding: 12px 0px;
}
.team-info-sp1{
    text-transform: capitalize;
}

.team-item:hover .team-overley{
    visibility:visible;
    opacity: 0.9;
    background-color: rgba(101, 98, 98, 0);
}
.team-item::after{
        position: absolute;
        content:"";

        width:100%;
        height: 0;

        top:0;
        left:0;
        background-color: #333;
        opacity: 0;


}
.team-item:hover::after{
width: 100%;
height: 100%;
opacity: 0.2;
transition:2s;
}

/* offer Section */
.offer-container{
    margin: 100px 0px;
padding: 120px 0px;
width:100%;
background-color:#F6F4EB;
overflow: auto;


}
.offer-title-h1{
    text-align: center;
}
.offer-item-h1,.offer-item-sp1{
margin-left: 50px;
display: block;

}
.offer-item-sp1{
    line-height: 30px;
    font-size: 15px;
    display: block;
}

.offer-title-line{
    width:45px;
    height:3px;
    padding-top: 5px;
    background-color:#4A2511;
    margin: auto;
}
.offer-content{
margin: auto;
}
.offer-item{
    width:30%;
    height: 200px;
    float:left;
    border: 1px solid #a8a8a8;
    padding: 30px 15px 30px 70px;
    overflow: auto;
    font-size: 20px;
    position: relative;
    text-transform: capitalize;
}

.offer-item i{
    color:#4A2511;
    font-size: 20px;
    margin-left:auto ;
    position: absolute;
}

.itemoffer{
    margin:30px 20px;
}

.offer-item::after{
position: absolute;
content:"";
width: 0;
height: 0;
top:0;
left: 0;
opacity:0;
transition: 1s;

}

.offer-item:hover .offer-item-h1{
    color:#421c0ad6;
}

.offer-item:hover::after{
    width: 100%;
    height: 100%;
background-color:black;
opacity: 0.2;

}

/* Choose Us Section */
.choose-container{
    width:80%;
    height: 450px;
    margin: auto;
}
.choose-content{
    padding-top:50px;
}

.choose-info-ol .li1{
color:rgb(48, 48, 207);
}

.choose-info-ol{
    color:#4A2511;
    list-style-type: none;
}
.choose-info-line{
    width:60px;
    height:5px;
    background-color:rgb(116, 116, 242);
    float:left;
}
.choose-img{
    float: right;
}
.choose-bullets .list li{
width: 10px;
height: 10px;
border-radius: 50%;
display:inline-block;
background-color:rgb(133, 133, 150);

}
.choose-bullets .list .i1{
    background-color: blue;
}
.choose-bullets .list li:hover{
    background-color: blue;
}
.choose-bullets .list{
  margin-right: 100px;
  text-align: center;
}


.choose-info-info2 {
    float:left;
    margin-top:20px;
    font-size: 20px;
    line-height: 30px;
}
.choose-info{
float:left;
}

/* Numbers Section */
.container-Numbers{
    margin-top:40px;
    width: 100%;
    height: 350px;
    background-image: url(../images/eee.jpeg);
    background-attachment: fixed;
    background-size: cover;

}
.numbers-overley{
    width: 100%;
    top:0;
    left:0;
}
.num-container{
    width: 80%;
    margin: auto;
}

.numbers-item1{
    float:left;
    width: 25%;
    text-align: center;
}
.numbers-item1 i{
    color:blue;
    font-size: 30px;;
}
.numbers-h2{
    font-weight: bold;
    color:#fff;
}
.numbers-sp1{
    color:#fff;
    text-transform: capitalize;
}
.numbers-items{
    overflow: auto;
    padding-top:150px ;

}
.numbers-icon{
color:blue;
}

/* pricing Section */
.pricing-container{
    width: 100%;
    height: 700px;
    padding-top: 10px;
    background-color: #e8e8e8;
    margin: auto;
}
.pricing-content{
margin:20px 300px ;
text-align: center;
margin: 50px 220px;
padding-left: 40px;

}
.pricing-content-h1{
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}
.pricing-content-line{
    width: 40px;
    height:4px;
    background-color: #9c3603;
    margin: auto;
    margin-top: 6px;

}
.pricing-item1 {
    width: 25%;
    height: 400px;
    background-color: #fff;
    border: 2px solid gray;
    float: left;
    margin: 30px 20px; 
    text-align: center;
    border-radius:30px;
    
}
.pricing-items{
    overflow: auto;
}

.circle{
    width: 100px;
    height: 100px;
    border-radius:50% ;
    border: 2px solid #4A2511;
    margin:auto;
    text-align: center;

}
.pricing-info{
    margin-top:20px;
    line-height: 30px;
}

.pricing-btn{
    background-color: #4A2511;
    border-radius: 30px;
    width: 100px;
    height: 30px;
    margin-top: 15px;
    color:#fff
}
.circle .pricing-h4{
    margin-top:25px ;

}
.pricing-h3{
    background-color: #e6d5cc;
    border-radius: 20px;  
    margin-top:30px ;
}
.pricing-content-h1{
    padding-top: 30px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Slab', serif;
}
.pricing-title{
    margin-bottom:10px;
}
.pricing-item1{
    position: relative;

}
.pricing-item1::after{
    position: absolute;
    content:"";

    top:0;
    left: 0;

    width: 100%;
    height:0;
    opacity: 0;
    transition: 1s;
}

.pricing-item1:hover::after{
    width: 100%;
    height:100%;
    opacity: 0.2;
    background-color: #4A2511;

}
.pricing-item1:hover .pricing-h3{
color:#fff;
}

.pricing-item1:hover .pricing-h4{
    color:#de5d1c;

}
/* testimonial Section */
.testimonial-container{
    width: 100%;
    margin: auto;
    height: 350px;
    background-image: url(../images/Digitech-Web-Design-Austin.png);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.testimonial-content{
    width: 80%;
    margin: auto;

}
.testimonial-overley{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    background-color:rgba(0,0,0,0.3);



}
.testimonial-item-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.testimonial-item{
    float:left;
    width: 40%;
    margin-top: 100px ;
    padding-left:200px
}
.testimonial-content-info{
    overflow: auto;
    margin: auto;
}
.testimonial-item-img{
    float:left;
}
.testimonial-item-h3{
    float: left;
    margin-top: 25px;
}
.testimonial-item-span,.testimonial-item-p{
color:#020122;
font-weight: bold;

}

.testimonial-item-p p{
float:right;
font-weight: bold;
font-size: 14px;
line-height: 1.5;
}
/* container-news Section */
.container-news{
    width: 100%;
    height: 600px;
    background-color: #F6F4EB;
    margin: auto;
}
.news-title{
    padding-top: 20px;
}
.news-title-h1{
    text-align: center;
    font-weight: bold;

}
.news-title-line{
    width: 40px;
    height: 4px;
    background-color:#4A2511;
    margin: auto;
}
.news-content{
    width: 80%;
    overflow: auto;
    margin: auto;

}
.news-a{
    text-decoration: none;
    color: #4A2511;
    font-weight: bold;
}
.news-list{
    font-size: 12px;
}
.news-list li i{
    color:#020122
}
.news-item{
    width: 25%;
    float:left;
    margin-top:40px ;
    position: relative;
}
.new1{
   margin-left: 120px; 
}

.news-icons{
    line-height: 20px;
}
.news-h4{
    font-weight: bold;
    color: #9c3603;
}
.news-item::after{
position: absolute;
content: "";

width: 100%;
height: 0;

top: 0;
left: 0;
opacity: 0;

}

.news-item:hover::after{

width: 100%;
height: 100%;
opacity: 0.5;
transition: 1s;
background-color: rgba(18, 17, 17, 0.3);
}
/* footer */
.footer-container{
    width: 100%;
    height: 300px;
    background-color:#e7dfda;

}
.footer-content{
    width: 800px;
    margin: auto;
}
.footer-content img{
     margin: 100px 300px 7px 300px;
}
.footer-p,.footer-ul{
    text-align: center;
}
.footer-ul a{
    text-decoration: none;
    color:#4A2511;
    font-size: 30px;

}
.footer-p{
    margin-top: 10px;
}
/* Creative Section */
.creative-container{
    width: 100%;
    height: 100vh;
    background-image:url(../images/mikrobiomkur-e1585668708988-768x575.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.creative-content{
    text-align: center;
    position:absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 65%;
}
.creative-h1{
    color:#fff;
    font-size: 55px;
    text-transform: uppercase;
}
.creative-overley{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(155, 180, 229, 0);
}
.creative-p{
    margin-top: 20px;
    margin-bottom: 20px;
    color: blanchedalmond;
    letter-spacing: 1.5px;
    line-height: 1.6px;
}
.creative-btn,.creative-btn-more{
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.creative-btn-more{
    background-color: #421c0ad6;
    color:#fff;
}